<%= form_with(model: @recipe, remote: false) do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-body bg-light">
        <div class="form-group">
          <%= form.text_field :name, placeholder: "Recipe name", class: "form-control" %>
        </div>

        <div class="field">
          <%= form.text_area :description, placeholder: "Describe your Recipe", class: "form-control" %>
        </div>
      </div>  
    </div>
  </div>

  <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
