<p id="notice"><%= notice %></p>

<% current_user.recipes.each do |recipe| %>
  <div class="card">
    <div class="card-header text-white bg-dark ">        
      <div class="row">
        <div class="col-lg">
          <h3><%= link_to recipe.name, show_recipe_path(:recipe => recipe.id) %></h3>
          <p>By: <%= current_user.username %></p>
          <p><%= recipe.description %></p>  
          <p><%= link_to 'Edit/Update', edit_recipe_path(id: recipe.id) %></p>
        </div>
      </div>
    </div>      
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">      
          <div class="card">
            <div class="card-header text-white bg-secondary">               
              <h4>Ingredients</h4>
            </div>
            <div class="card-body">                     
              <ul>
                <% recipe.ingredients.each do |ingredient| %>
                  <li><%= ingredient.name %>, <%= ingredient.amount %> <%= ingredient.measurement %></li>
                <% end %>
              </ul>                     
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% recipe.images.each do |image| %>
                <div class="carousel-item <%= 'active' if image == recipe.images[0] %>" data-interval="3000">
                  <%= image_tag image, style: "width: auto; height: 300px;", class: "rounded mx-auto d-block" %>
                </div>    
              <% end %>
            </div>
          </div>
        </div>
      </div> 
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-white bg-secondary">
              <h4>Directions</h4>  
            </div>     
            <div class="card-body">      
              <ul>
                <% recipe.directions.each do |direction| %>
                  <li><%= direction.step_number %>. <%= direction.step_entry %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <br>
<% end %>

<%= paginate @recipes %>