<% if user_signed_in? %>

<p id="notice"><%= notice %></p>



<% current_user.recipes.each do |recipe| %>
  <div class="card">
    <div class="card-header text-white bg-dark ">        
      <div class="row">
        <div class="col-lg">
          <h3><%= recipe.name %></h3>
          <p>By: <%= current_user.username %></p>
          <p><%= recipe.description %></p>
        </div>
      </div>
    </div>      
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">      
          <div class="card">
            <div class="card-header text-white bg-secondary">               
              <h4>Ingredients</h4>
            </div>
            <div class="card-body">                     
              <ul>
                <% recipe.ingredients.each do |ingredient| %>
                  <li><%= ingredient.name %>, <%= ingredient.amount %> <%= ingredient.measurement %></li>
                <% end %>
              </ul>                     
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header text-white bg-secondary">
              <h4>Directions</h4>  
            </div>     
            <div class="card-body">      
              <ul>
                <% recipe.directions.each do |direction| %>
                  <li><%= direction.step_entry %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>   
  <br>
<% end %>


<%= link_to 'New Recipe', new_recipe_path %>

<% else %>
  <% @recipes.each do |recipe| %>
    <div class="card">
      <div class="card-header text-white bg-dark ">        
        <div class="row">
          <div class="col-lg">
            <h3><%= recipe.name %></h3>
            <p>By: <%= recipe.user.username %></p>
            <p><%= recipe.description %></p>
          </div>
        </div>
      </div>      
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">      
            <div class="card">
              <div class="card-header text-white bg-secondary">               
                <h4>Ingredients</h4>
              </div>
              <div class="card-body">                     
                <ul>
                  <% recipe.ingredients.each do |ingredient| %>
                    <li><%= ingredient.name %>, <%= ingredient.amount %> <%= ingredient.measurement %></li>
                  <% end %>
                </ul>                     
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card">
              <div class="card-header text-white bg-secondary">
                <h4>Directions</h4>  
              </div>     
              <div class="card-body">      
                <ul>
                  <% recipe.directions.each do |direction| %>
                    <li><%= direction.step_entry %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>   
    <br>
  <% end %>
<% end %>
 
      
         
      
      