<div class="row">   
  <div class="col-md-4">
    <div class="card"> 
      <div class="card-header">
        <h3><%= @recipe.name %></h3> 
        <p>By: <%= current_user.username %></p>
      </div>
      <div class="card-body">
        <p><%= @recipe.description %></p>
      </div>
    </div>
  </div>   
  <div class="col-md-8"> 
    <!-- this is where images in a carousel will be shown/uploaded -->
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div id="ingredient-form">
      <%= render template: "ingredients/_form", ingredient: @ingredient, remote: true %>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="direction-form">
      <%= render template: "directions/_form", direction: @direction, remote: true %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= render @ingredient %>     
  </div> 
  <div class="col-lg-6">    
    <%= render @direction %>
  </div>
</div>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
