<!DOCTYPE html>
<html>
  <head>
    <title>RecipeWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">ReciMe!</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">My Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="recipes/new">New recipe</a>
          </li>
        </ul>
        <div class="float-right">
          <%= image_tag current_user.image, style: "height: 30px;" %>
        </div>
        <div class="nav-item dropdown float-right">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            
            <%= current_user.username %> <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><%= link_to "Edit Profile", edit_user_registration_path %></a>
            <a class="dropdown-item" href="#"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a>
          </div>           
        </div>
      </div>
    </nav>
    <% else %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">ReciMe!</a>     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
          <div class="nav-item active">
            <a class="nav-link" href="users/sign_up">Sign Up</a>
          </div>
        </div>
        <div class="nav-item float-right">
          <a class="nav-link" href="users/sign_in">Log In</a>
        </div>    
      </div>
    </nav>
  <% end %>
  <br> 

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
